/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Body styles */
body {
  font-family: 'Oswald', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Navbar styles */
.navbar ul {
  list-style-type: none;
  background-color: hsl(249, 66%, 21%);
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar li {
  float: left;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: hsl(0, 0%, 10%);
}

/* Main content styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Heading styles */
h1 {
  margin-bottom: 20px;
}

/* Input field styles */
input[type="number"] {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="number"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Button styles */
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  outline: none;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
}

/* Responsive Design */
@media (max-width: 600px) {
  body {
    justify-content: flex-start;
    padding-top: 20px;
  }

  .navbar ul {
    flex-direction: column;
  }

  input[type="number"] {
    max-width: 100%;
  }
}
